@{
    ViewBag.Title = "Angular";
}

<h2>Currencies</h2>

<div id="main" class="col-md-6" ng-app="angularTest" ng-controller="SpreadsheetModeEdit" entity-repository="currencies" entity-name="currency">
    <table class="table" enter-pressed="endEdit(true)" escape-pressed="endEdit(false)">
        <thead>
            <tr>
                <th ng-if="isEditMode() || isAddingMode()"></th>
                <th>Name</th>
                <th>Symbol</th>
                <th>Country</th>
            <tr>
        </thead>
        <tbody class="entity-list-body">
            <tr ng-cloak ng-repeat="currency in currencies" ng-click="startEdit($event, currency.Id)" ng-class="getEditingClass(currency.Id)">
                <td ng-if="isEditMode() && !isAddingMode()" class="action-button-container">
                    <img tooltip ng-click="confirmDelete(currency.Id)" ng-if="isEditing[currency.Id]" class="delete-entity-button action-button-normal action-button" src="~/Content/images/cancel.png" title="Click to delete this row" />
                </td>
                <td ng-if="isAddingMode()">
                    <img ng-click="endEdit(true)" tooltip title="Click to confirm adding a new row" ng-if="isNew(currency.Id)" class="add-entity-button action-button-normal action-button" src="~/Content/images/add.png" />
                </td>
                <td>
                    <span ng-if="!isEditing[currency.Id]">{{currency.Name}}</span>
                    <input focus-on="isEditing[currency.Id]" ng-if="isEditing[currency.Id]" ng-model="currency.Name" />
                    <span class="text-danger" ng-if="isEditing[currency.Id]">{{modelStatus.Name}}</span>
                </td>
                <td>
                    <span ng-if="!isEditing[currency.Id]">{{currency.Symbol}}</span>
                    <input ng-if="isEditing[currency.Id]" ng-model="currency.Symbol" />
                    <span class="text-danger" ng-if="isEditing[currency.Id]">{{modelStatus.Symbol}}</span>
                </td>   
                <td>
                    <span ng-if="!isEditing[currency.Id]">{{currency.Country}}</span>
                    <input ng-if="isEditing[currency.Id]" ng-model="currency.Country" />
                    <span class="text-danger" ng-if="isEditing[currency.Id]">{{modelStatus.Country}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-if="!isEditMode() && !isAddingMode()" ng-click="addEntity($event)" tooltip class="btn btn-primary" title="Add a new row">New</div>
</div>

<div class="row">
    
</div>

@section scripts {
    @Scripts.Render("~/Scripts/app/angular_test.js")
    @Scripts.Render("~/Scripts/app/alerts.js")
}