
@{
    ViewBag.Title = "Index";
}

<h2>Population in some European countries</h2>

<div>
    <canvas id="test_canvas"></canvas>
</div>

<button id="boton">Clear</button>

@section scripts {
    @Scripts.Render("~/Scripts/libs/serfuen.js")
}