body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.entity-list-body tr {
    cursor: pointer;
}

.entity-row-editing {
    cursor: default !important;
    background-color: snow;
}

.entity-row:hover {
    background-color: lightyellow;
}

.action-button {
    vertical-align: middle !important;
    text-align: center;
    height: 16px;
    cursor: pointer;
}

.row-validation-error {
    background-color: #fac9c9;
    opacity: 0.9;
    border: 0px solid gray;
    box-shadow:0px 0px 0px 2px #ff0000 inset;
}