body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sliderClass {
    margin-left: 10px;
}

#principal {
    margin-bottom: 15px;
    margin-left: 10px;
}

#mortgage_result {
    margin-left: 20px;
}

.table-title {
    text-align: center;
    background-color: #337ab7;
    color: white;
}

.table-loan td {
    text-align: right;
    color: dimgrey;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#graph_interests {
    width: 250px;
    height: 250px;
}

#test_canvas {
    width: 600px;
    height: 400px;
}